/* Custom Stylesheet */
@font-face {
  font-family: SF-Pro;
  src:url("../fonts/SF-Pro.ttf")
}

@font-face {
  font-family: SF-Pro-Text-Bold;
  src:url("../fonts/SF-Pro-Text-Bold.otf")
}

html {
  font-family: SF-Pro;
}

h1 {
  font-family: SF-Pro-Text-Bold;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #444;
}

.brand-logo img {
  height: 28px;
}

.banner-image {
  width: 100%;
}

.card {
  border-color: lightgrey;
  border-radius: 25px;
  border-width: 1px;
  width: 100%;
  margin-right: 0;
  padding: 10px;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.hidden-slide {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-75%);
  transition: all 1.5s;
}

.show-slide {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}

.hidden-fade {
  opacity: 0;
  transition: 1.5s;
}

.show-fade {
  opacity: 1;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media only screen and (min-width: 993px) {
  .delay {
    transition-delay: 400ms;
  }
}

